#agrume.project
    // <div class="fond-projet"></div>
    h3.numero 5.
    .project-main
        a.without-caption.image-link(href='../assets/img/Presse agrume.jpg')
            img(src='../assets/img/Presse agrume.jpg')
        h2  Presse agrume
        li.badgebar
            a.badge-backg(href='#surface_descrip'): i#surface.skillbadge
            a.badge-backg(href='#perspec_descrip'): i#perspec.skillbadge
            a.badge-backg(href='#modeling_descrip'): i#modeling.skillbadge
            a.badge-backg(href='#fx_descrip'): i#fx.skillbadge
        p.
            Le presse agrume : ce produit existe depuis des siècles et a déjà pris toutes les formes 
            possibles. Faire nouveau signifie donc faire extrême. Après une version à 6 demi-oranges 
            pressées simultanément, je suis revenu vers cette version miniature. Bien que miniature, 
            la combinaison de bois brut et métal avec mécanismes apparents évoque encore les machines 
            agricoles robustes et authentiques.
    //- Exploration vers des designs improbables

    .sidescroll
        a.without-caption.image-link(href='../assets/img/Mood board.jpg')
            img(src='../assets/img/Mood board.jpg')

        a.without-caption.image-link(href='../assets/img/multi sketch presse agrume.jpg')
            img(src='../assets/img/multi sketch presse agrume.jpg')

        a.without-caption.image-link(href='../assets/img/Kaijus1.jpg')
            img(src='../assets/img/Kaijus1.jpg')

        a.without-caption.image-link(href='../assets/img/Kaijus incliné1.jpg')
            img(src='../assets/img/Kaijus incliné1.jpg')