#archi-gene.project
    .project-content
        .project-main
            .project-large-img
                a.image-item.image-link(href='../assets/img/Piliers spiral bois.jpg')
                        img(src='../assets/img/Piliers spiral bois.jpg')
                a.image-item.image-link(href='../assets/img/batiments rubans.jpg')
                    img(src='../assets/img/batiments rubans.jpg')
            .project-side
                h3.numero
                h2 Architecture générative
                li.badgebar
                    a.badge-backg(href='#generative_descrip')
                        i#generative.skillbadge
                    a.badge-backg(href='#fx_descrip')
                        i#fx.skillbadge
                p.
                    Définir un un ensemble de rêgles de géométrie pour créer, ça peut paraitre ennyeux si on oubli que les erreurs sont magnifiques !
                //<p>Shaders - Champs vectoriels</p>
                .sidescroll
                    //
                        <img src="assets/img/Kurdan.jpg" tabindex="0">
                        <img src="assets/img/Kurdan1.jpg" tabindex="0">
                    a.image-item.image-link(href='../assets/img/effet ecran nodes.jpg')
                        img(src='../assets/img/effet ecran nodes.jpg')
                    a.image-item.image-link(href="assets/img/maison d'allumettes.jpg")
                        img(src="assets/img/maison d'allumettes.jpg")
                    //- a.image-item.image-link(href='../assets/img/Piliers spiral bois.jpg')
                    //-     img(src='../assets/img/Piliers spiral bois.jpg')
                    a.image-item.image-link(href='../assets/img/le feizomj.jpg')
                        img(src='../assets/img/le feizomj.jpg')