#CAO.project(style='background-color:#c49c5c')
    .project-main
        a.without-caption.image-link(href='../assets/img/Guidon.jpg')
            img(src='../assets/img/Guidon.jpg')
        h2 CAO
        li.badgebar
            a.badge-backg(href='#suface_descrip')
            i#surface.skillbadge
            a.badge-backg(href='#modeling_descrip')
            i#modeling.skillbadge
        p
    .sidescroll
        a.without-caption.image-link(href='../assets/img/Broyeur.jpg')
            img(src='../assets/img/Broyeur.jpg')
        a.without-caption.image-link(href='../assets/img/cpas arrete.jpg')
            img(src='../assets/img/cpas arrete.jpg')