#CAO.project(style='background-color:#c49c5c')
    .project-content
        .project-main
            .project-large-img
                a.without-caption.image-link(href='../assets/img/Guidon.jpg')
                    img(src='../assets/img/Guidon.jpg')
            .project-side
                h3.numero
                h2 CAO
                li.badgebar
                    a.badge-backg(href='#surface_descrip')
                        i#surface.skillbadge
                    a.badge-backg(href='#modeling_descrip')
                        i#modeling.skillbadge
                p.
                    Montrez moi l'axe Z, je m'occupe du reste
                .sidescroll
                    a.without-caption.image-link(href='../assets/img/poignee G5.jpg')
                        img(src='../assets/img/poignee G5.jpg')
                    a.without-caption.image-link(href='../assets/img/Broyeur.jpg')
                        img(src='../assets/img/Broyeur.jpg')
                    a.without-caption.image-link(href='../assets/img/cpas arrete.jpg')
                        img(src='../assets/img/cpas arrete.jpg')