// #a16461
#porsche.project
    .project-content
        .project-main
            .project-large-img
                video(controls='' loop='' autoplay='')
                    source(src='../assets/img/porsche courbes.mp4' type='video/mp4')
            .project-side
                h3.numero
                h2 Porsche 911 996 Carrera 4 study
                li.badgebar
                    a.badge-backg(href='#surface_descrip')
                        i#surface.skillbadge
                    a.badge-backg(href='#modeling_descrip')
                        i#modeling.skillbadge
                    a.badge-backg(href='#fx_descrip')
                        i#fx.skillbadge
                p.
                    Exercice de modélisation hard-surface de précision

                .sidescroll
                    a.without-caption.image-link(href='../assets/img/Porsche bois vue haut2.jpg')
                        img(src='../assets/img/Porsche bois vue haut2.jpg')
                    a.without-caption.image-link(href='../assets/img/Porsche drap1.jpg')
                        img(src='../assets/img/Porsche drap1.jpg')
                    a.without-caption.image-link(href='../assets/img/porsche etape 2.jpg')
                        img(src='../assets/img/porsche etape 2.jpg')
                    a.without-caption.image-link(href='../assets/img/Porsche wireframe.jpg')
                        img(src='../assets/img/Porsche wireframe.jpg')
                    a.without-caption.image-link(href='../assets/img/Porsche close1.jpg')
                        img(src='../assets/img/Porsche close1.jpg')
