#surfacepsycho.project
    h3.numero 1.
    .project-main
        video(controls='' loop='' autoplay='')
            source(src='../assets/img/SP - G4 continuity.mp4' type='video/mp4')
        h2 SurfacePsycho surface-design tool
        li.badgebar
            a.badge-backg(href='#surface_descrip'): i#surface.skillbadge
            a.badge-backg(href='#modeling_descrip'): i#modeling.skillbadge
            a.badge-backg(href='#fx_descrip'): i#fx.skillbadge
        p
    .sidescroll
        a.without-caption.image-link(href='../assets/img/SP hanger viewport.jpg')
            img(src='../assets/img/SP hanger viewport.jpg')
        a.without-caption.image-link(href='../assets/img/SP hanger SW.jpg')
            img(src='../assets/img/SP hanger SW.jpg')
        a.without-caption.image-link(href='../assets/img/SP cover.jpg')
            img(src='../assets/img/SP cover.jpg')
        a.without-caption.image-link(href='../assets/img/SP screenshot1.jpg')
            img(src='../assets/img/SP screenshot1.jpg')