#surfacepsycho.project
    .project-content
        .project-main
            .project-large-img
                video(controls='' loop='')
                    source(src='../assets/img/SP - G4 continuity.mp4' type='video/mp4')
            .project-side
                h3.numero
                h2 SurfacePsycho surface-design tool
                li.badgebar
                    a.badge-backg(href='#surface_descrip'): i#surface.skillbadge
                    a.badge-backg(href='#modeling_descrip'): i#modeling.skillbadge
                    a.badge-backg(href='#fx_descrip'): i#fx.skillbadge
                p.
                    Je développe SurfacePsycho un plugin Blender ajoutant des outils 
                    de surfaçage pour le design produit. Il doit permettre de modéliser l'esthétique du produit en .STEP 
                    directement sur Blender en bénéficient de toutes les fonctionnalités de 
                    visualisation et de modélisation rapide.
                p.
                    Le projet nécessite de se plonger dans la logique des surfaces et des courbes NURBS
                    et implémenter des algorithmes performants pour éditer la géométrie.
                .sidescroll
                    a.without-caption.image-link(href='../assets/img/SP hanger viewport.jpg')
                        img(src='../assets/img/SP hanger viewport.jpg')
                    a.without-caption.image-link(href='../assets/img/SP hanger SW.jpg')
                        img(src='../assets/img/SP hanger SW.jpg')
                    a.without-caption.image-link(href='../assets/img/SP cover.jpg')
                        img(src='../assets/img/SP cover.jpg')
                    a.without-caption.image-link(href='../assets/img/SP screenshot1.jpg')
                        img(src='../assets/img/SP screenshot1.jpg')