#sword.project
    h3.numero 1.
    .project-main
        video(controls='' loop='' autoplay='')
            source(src='../assets/img/Sword 2017 3D 20230001-0100.mp4' type='video/mp4')
        h2 Garde d'épée cuivre
        li.badgebar
            a.badge-backg(href='#surface_descrip'): i#surface.skillbadge
            a.badge-backg(href='#modeling_descrip'): i#modeling.skillbadge
            a.badge-backg(href='#fx_descrip'): i#fx.skillbadge
        p
    .sidescroll
        a.without-caption.image-link(href='../assets/img/Sword 2017 3D 2023 close1.jpg'): img(src='../assets/img/Sword 2017 3D 2023 close1.jpg')
        a.without-caption.image-link(href='../assets/img/Sword 2017 3D 2023 close2.jpg'): img(src='../assets/img/Sword 2017 3D 2023 close2.jpg')
        a.without-caption.image-link(href='../assets/img/Sword 2017 3D 2023 HD.jpg'): img(src='../assets/img/Sword 2017 3D 2023 HD.jpg')
