#verriere.project(style='background-color:#533ebf')
    .project-main
        a.without-caption.image-link(href='../assets/img/verrière bateau.jpg')
        img(src='../assets/img/verrière bateau.jpg')
        h2 Verri&egrave;re royale
        li.badgebar
            a.badge-backg(href='#surface_descrip')
                i#surface.skillbadge
            a.badge-backg(href='#generative_descrip')
                i#generative.skillbadge
            a.badge-backg(href='#modeling_descrip')
                i#modeling.skillbadge
            a.badge-backg(href='#fx_descrip')
                i#fx.skillbadge
        p
        | Verri&egrave;re de la salle de bal d&apos;un bateau de croisi&egrave;re. D&eacute;cor de dessin anim&eacute; dans un style post-futuriste.
        | Cette verri&egrave;re utilise une m&eacute;thode de mod&eacute;lisation encore jamais vue ailleurs. J&apos;ai r&eacute;alis&eacute;, &agrave; l&apos;aide de nodes, un syst&egrave;me de projection et d&eacute;tourage des motifs.

    .sidescroll
        a.without-caption.image-link(href='../assets/img/Salle de bal 1.jpg')
            img(src='../assets/img/Salle de bal 1.jpg')
        a.without-caption.image-link(href='../assets/img/Salle de bal 2.jpg')
            img(src='../assets/img/Salle de bal 2.jpg')
        a.without-caption.image-link(href='../assets/img/verrière bateau 1.jpg')
            img(src='../assets/img/verrière bateau 1.jpg')
        a.without-caption.image-link(href='../assets/img/verrière bateau 2.jpg')
            img(src='../assets/img/verrière bateau 2.jpg')