#verriere.project(style='background-color:#533ebf')
    h3.numero
    .project-main
        a.without-caption.image-link(href='../assets/img/verrière bateau.jpg')
            img(src='../assets/img/verrière bateau.jpg')
        h2 Verrière royale
        li.badgebar
            a.badge-backg(href='#surface_descrip')
                i#surface.skillbadge
            a.badge-backg(href='#generative_descrip')
                i#generative.skillbadge
            a.badge-backg(href='#modeling_descrip')
                i#modeling.skillbadge
            a.badge-backg(href='#fx_descrip')
                i#fx.skillbadge
        p
        | Verrière de la salle de bal d'un bateau de croisière. Décor de dessin animé dans un style post-futuriste.
        | Cette verrière utilise une méthode de modélisation encore jamais vue ailleurs. J'ai réalisé, à l'aide de nodes, un système de projection et détourage des motifs.

    .sidescroll
        a.without-caption.image-link(href='../assets/img/Salle de bal 1.jpg')
            img(src='../assets/img/Salle de bal 1.jpg')
        a.without-caption.image-link(href='../assets/img/Salle de bal 2.jpg')
            img(src='../assets/img/Salle de bal 2.jpg')
        a.without-caption.image-link(href='../assets/img/verrière bateau 1.jpg')
            img(src='../assets/img/verrière bateau 1.jpg')
        a.without-caption.image-link(href='../assets/img/verrière bateau 2.jpg')
            img(src='../assets/img/verrière bateau 2.jpg')