#verriere.project(style='background-color:#533ebf')
    .project-content
        .project-main
            .project-large-img
                a.without-caption.image-link(href='../assets/img/verrière bateau.jpg')
                    img(src='../assets/img/verrière bateau.jpg')
            .project-side
                h3.numero
                h2 Verrière royale
                li.badgebar
                    a.badge-backg(href='#surface_descrip')
                        i#surface.skillbadge
                    a.badge-backg(href='#generative_descrip')
                        i#generative.skillbadge
                    a.badge-backg(href='#modeling_descrip')
                        i#modeling.skillbadge
                    a.badge-backg(href='#fx_descrip')
                        i#fx.skillbadge
                p
                    | Verrière de la salle de bal d'un bateau de croisière pour un décor de dessin animé. La modélisation a nécessité la création d'un système de projection et de détourage des motifs. Entièrement procédural, ce système est réutilisable pour n'import quel motif et surface de projection. 
                    br
                    | J'ai également experimenté les possibilité de fabrication, avec notamment l'export du tracé de chaque fenêtre.

                .sidescroll
                    a.without-caption.image-link(href='../assets/img/Salle de bal 1.jpg')
                        img(src='../assets/img/Salle de bal 1.jpg')
                    a.without-caption.image-link(href='../assets/img/Salle de bal 2.jpg')
                        img(src='../assets/img/Salle de bal 2.jpg')
                    a.without-caption.image-link(href='../assets/img/verrière bateau 1.jpg')
                        img(src='../assets/img/verrière bateau 1.jpg')
                    a.without-caption.image-link(href='../assets/img/verrière bateau 2.jpg')
                        img(src='../assets/img/verrière bateau 2.jpg')