/*-----------------------------------------------------
#Badges
------------------------------------------------------*/

#rendering{
    clip-path: url("#rendering-clippath");
    background: rgb(172,83,255);
    background: linear-gradient(153deg, rgba(172,83,255,1) 0%, rgba(255,118,160,1) 23%, rgba(255,197,79,1) 41%, rgba(146,223,144,1) 49%, rgba(73,240,187,1) 61%, rgba(255,202,95,1) 71%, rgba(251,140,49,1) 85%, rgba(255,132,170,1) 91%, rgba(182,105,255,1) 100%);

   }

#generative{
    clip-path: url("#generative-clippath");
    background: rgb(83,222,255);
    background: linear-gradient(153deg, rgba(83,222,255,1) 0%, rgba(79,103,255,1) 35%, rgba(182,78,255,1) 54%, rgba(182,105,255,1) 60%, rgba(108,118,254,1) 71%, rgba(79,103,255,1) 80%, rgba(83,222,255,1) 100%);
}

#modeling {
    clip-path: url("#modeling-clippath");
    background: rgb(255,57,57);
    background: linear-gradient(153deg, rgba(255,57,57,1) 0%, rgba(255,105,174,1) 24%, rgba(182,78,255,1) 40%, rgba(144,163,255,1) 57%, rgba(182,78,255,1) 74%, rgba(255,105,174,1) 84%, rgba(255,57,57,1) 100%); 
}

#motion {
    clip-path: url("#motion-clippath");
    background: rgb(255,57,57);
    background: linear-gradient(153deg, rgba(255,57,57,1) 13%, rgba(255,105,174,1) 28%, rgba(255,185,78,1) 42%, rgba(253,255,77,1) 53%, rgba(255,176,78,1) 66%, rgba(255,105,174,1) 84%, rgba(255,57,57,1) 100%); 
}

.badge-backg .skillbadge{
    background-repeat: no-repeat;
    background-position: center;
    filter : saturate(0) brightness(5);
    opacity: 20%;
    /* height: 2rem;
    width: 2rem; */
    /* transform: translate(.5em,-.5em); */
    /* transition: filter 500ms ease-in-out;
    -webkit-transition : -webkit-filter 500ms ease-in-out;
    -moz-transition: -moz-filter 500ms ease-in-out;
    transition: opacity 500ms ease-in-out ; */
    flex-basis: 2rem;
    position: relative;
    margin-right: 0;

    transition: all 0.5s ease-in-out;
    transition-delay:0.5s;
}

.project .badge-backg .skillbadge {
    opacity: 80%;
}


.item .badge-backg:hover .skillbadge,
.project .badge-backg:hover .skillbadge{
    filter : saturate(1) brightness(1);
    opacity: 100%;
    transition: all 0s linear;
}

.item .badge-backg,
.project .badge-backg{
    height: 2em;
    width: 2em;
    border-radius: 1em;
    margin-top: 0.5em;
    margin-right: 0;
    display: flex;
}

#skills .skillbadge{
    flex-basis: 3rem;
    filter : none;
    opacity: 100%;
}

#skills .badge-backg{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    display: flex;
}

.badge-backg span{
    display: flex;
    color :transparent;
    padding: 0.5em;
    white-space: nowrap;
    height: 2em;
    position: absolute;

    width:0px;
    transform: translate(2em,0);
}

.badge-backg:hover span{
    color : rgb(97, 97, 255) !important;
    opacity: 100% !important;
    text-decoration: none;
}

.badgelist:hover span {
    color : rgb(124, 127, 161);
    opacity: 50%;
}


.item{
    margin: 3% 3% 3%;
    display: flex;
    /* display : grid;
    grid-template-columns: 20% auto 20%; */
    /* width: clamp(400px, 40%, 600px);     */
    width: auto;
    height: auto;

}

.item .without-caption,
.item video{
    margin: 0 auto 0;
}

.item img{
    margin: 0em;
    display: inline-block;
    position: relative;
}

.badgelist{
    display: grid;
    margin: auto 1em 0 auto;
    width : 2em;
    position: relative;
    justify-items: end;
    flex-grow: 1;
    flex-basis: 0;
}

.item figcaption{
    height: auto;
    text-align: left;
    margin: 0 0 0 1em ;
    align-self: flex-end;
    overflow: visible;
    /* white-space: nowrap; */
    color : rgb(124, 127, 161);
    float: left;
    flex-grow: 1;
    flex-basis: 0;
}