:root {
  --text-color: #e6e6e7;
  --muted-text: #a0a0a0;
}

header h1 {
  color: #1f2937;
}

.single-project .info {
  color: #222;
}




.blog-post .entry-date {
  color: #444;
}

.share-links li a,
.contact-form textarea::-webkit-scrollbar-track {
  background: #eee;
}


.contact-form input,
.contact-form textarea,
.contact-info {
  background: #f8f8f8;
}

main h2 {
  background-image: linear-gradient(
    to right,
    #403dff,
    #403dff,
    #403dff,
    rgb(160, 168, 255),
    rgb(160, 168, 255)
  );
  /* color: #403dff; */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* header h1:hover{
	color:#403dff;
} */

.item .badge-backg {
  background-color: rgb(21, 25, 49);
}

.project .badge-backg {
  background-color: rgba(55, 57, 75, 0);
  /* opacity: 20%; */
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.project .badge-backg:hover {
  /* opacity: 80%; */
  background-color: rgba(55, 57, 75, 0.842);
  box-shadow: 0 0 0.5em #2925ff7e;
  transition: all 0s linear;
}

.skill-title {
  color: rgb(160, 141, 255);
}

/*-----------------------------------------------------
# background #ff6f61
------------------------------------------------------*/

.title-line {
  /* background: #403dff; */
  background-image: linear-gradient(
    to right,
    #403dff,
    #403dff,
    rgb(160, 168, 255)
  );
}

footer {
  background-color: #1a2330;
}

/*-----------------------------------------------------
# projects
------------------------------------------------------*/
.grid-item {
  --bg-color: #ededed;
  --half-color: color-mix(in srgb, var(--bg-color) 50%, white);
}

#sword {
  --bg-color: #4d517d;
}

#porsche {
  --bg-color: rgb(63, 70, 105);
  /* #838b96; */
}

#agrume {
  --bg-color: #FFAA5B;
  /* --half-color: color-mix(in srgb, var(--bg-color) 50%, white); */
}

#archi-gene {
  --bg-color: rgb(128, 189, 109);
}

#surfacepsycho {
  --bg-color: rgb(38, 156, 174);
}

#sp-logo {
  --bg-color: #ff0290;
}

#verriere {
  --bg-color: #533ebf;
}

#foulard {
  --bg-color: #437563;
}

#robe-doree {
  --bg-color: #eab775;
}

#toiture {
  --bg-color: #ffffff;
}
