/*-----------------------------------------------------
# color #000
------------------------------------------------------*/
html, body{
	color : #e6e6e7; /* font color /!\ ? */
	background: repeating-linear-gradient(
	0deg,
	#1f2937,
	#1f2937 19px,
	#1a2330 1px,
	#1a2330 20px
	);

	/* White Theme
	background: repeating-linear-gradient(
	0deg,
	#ffffff,
	#ffffff 19px,
	#f3f4f8 1px,
	#f3f4f8 20px
	); */

	/* Dots
	background-color: #1f2937;
	background-image: radial-gradient(#1a2330 3px, transparent 0);
	background-size: 40px 40px; */
}

a:link{
	color : #e6e6e7;
}



.contact-info a,
.hero .social-links li a,
.featured-works .item{
	color: #000;
}


header h1{
	color:#1f2937;
}

/*-----------------------------------------------------
# background #000
------------------------------------------------------*/

.open-nav,
.contact-form input[type=submit],
.btn {
	background: #000;
}

.aside-navigation-overlay {
	background: rgba(0, 0, 0, .7)
}

/*-----------------------------------------------------
# color #222
------------------------------------------------------*/
.single-project .info {
	color: #222;
}

/*-----------------------------------------------------
# background #333
------------------------------------------------------*/

.contact-form textarea::-webkit-scrollbar-thumb {
	background: #333;
}

/*-----------------------------------------------------
# color #444
------------------------------------------------------*/

.blog-post .entry-date {
	color: #444;
}

/*-----------------------------------------------------
# color #666
------------------------------------------------------*/

.portfolio-item-category,
.team-member .overlay .info h3,
.single-project .intro ul li {
	color: #666;
}

/*-----------------------------------------------------
# background #eee
------------------------------------------------------*/
.share-links li a,
.contact-form textarea::-webkit-scrollbar-track {
	background: #eee;
}

/*-----------------------------------------------------
# background #f8f8f8
------------------------------------------------------*/

.contact-form input,
.contact-form textarea,
.contact-info {
	background: #f8f8f8;
}

/*-----------------------------------------------------
# color #fff
------------------------------------------------------*/
.share-links li a:hover,
.contact-form input[type=submit],
.btn {
	color: #fff;
}


/*-----------------------------------------------------
# color #ff6f61
------------------------------------------------------*/


main h2 {
	background-image: linear-gradient(to right, #403dff,#403dff,#403dff, rgb(160, 168, 255), rgb(160, 168, 255));
	/* color: #403dff; */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

#porsche{
	background:linear-gradient(-250deg, #838b96, rgb(63, 70, 105));
}
#porsche h2{
	background-image: linear-gradient(to right, #3c3ab9,#3c3ab9, rgb(0, 4, 43), rgb(0, 4, 43));
}

#agrume{
	background-color: #bf6e79;
}

#agrume h2{
	background-image: linear-gradient(to right, #f2ede6,#f2ede6, rgb(255, 170, 44), rgb(255, 170, 44));
}

#agrume .fond-projet{
	background-image :url("../img/multi sketch presse agrume.jpg");
	filter : invert();
	mix-blend-mode: difference;

}

#archi-gene{
	
	background-image :url("../img/effet ecran nodes.jpg");
	background-color: rgb(46, 103, 63);
	background-repeat: no-repeat;
  	background-size: cover;
	background-position: center;
}

#archi-gene h2{
	background-image: linear-gradient(to right, #26a288,#26a288, #5ae891, #5ae891);
}

#verriere h2{
	background-image: linear-gradient(153deg, rgba(255,231,173,1) 17%, rgba(205,187,143,1) 45%, rgba(135,166,255,1) 76%); 
}


/* header h1:hover{
	color:#403dff;
} */

.item .badge-backg{
    background-color: rgb(21, 25, 49);
}

.project .badge-backg{
    background-color: rgba(55, 57, 75, 0);
	/* opacity: 20%; */
	transition: all 0.5s ease-in-out;
    transition-delay:0.5s;
}

.project .badge-backg:hover{
	/* opacity: 80%; */
	background-color: rgba(55, 57, 75, 0.842);
	box-shadow: 0 0 0.5em #2925ff7e;
	transition: all 0s linear;
}





.skill-title{
	color: rgb(160, 141, 255);
}













/*-----------------------------------------------------
# background #ff6f61
------------------------------------------------------*/

.title-line{
	/* background: #403dff; */
	background-image: linear-gradient(to right, #403dff,#403dff, rgb(160, 168, 255));
}




footer{
	background-color: #1a2330;
}