/*-----------------------------------------------------
# Header
------------------------------------------------------*/
header{
	width : 100%;
	height: 10em;
    position: absolute;
	background-color: black;
    
	/* box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3); */
}

header #bg{
    width: 100%;
    height: 100%;
	filter: blur(7.5px);
    position: absolute;
}

header img{
    width: 15em;
    height: auto;
    display:inline-block;
 
}

header li{
	white-space: pre;
}

/* header img{
	height: 3em;
	width: auto;
	margin: auto;
	margin-right: 0;
	box-shadow: inset 0 0 10px 0 white;
} */

#page-title li{
    width: fit-content;
    text-align: left;
    float: left;
    margin-left: 0;
}


header h1, header h3{
	text-align: left;
	font: small-caps 1.3em "Poppins", sans-serif;
	/* clear: both; */
    /* display: inline-block; */
    /* overflow: hidden; */
}


header h1{
    font-weight: 275;
    font-size: 25px;
    line-height: 38px;

/* identical to box height */
    letter-spacing: 0.245em;
    text-transform: uppercase;

    color: #FFFFFF;
}

header  h3{
	font: small-caps 1em "Poppins", sans-serif;
	margin: 0.8em;
}


header h3 li{
	display:inline-block;
}

/* @media(max-width: 60rem) {
	header{
		height: 4.5em;
		overflow: visible;
	}

	header h1, header h3{
		white-space: normal;
		overflow: visible;
	}

	.head_grid{
		margin-left: 4%;
	}
}

@media(max-width: 85rem){
	header{
		height: 4.5em;
	}
	header h3 li{
		display:list-item;
		list-style-type: none;
	}
} */



#page-title{
    position: absolute;
    display: flex;
    width: fit-content;
}



/* #page-title h2{
	margin: 1% auto 1%;
	z-index: 0;
	max-width: 80%;
} */

/* @media(max-width:600px) {
	#page-title h2{
		font-size: 3.2em;
	}

} */
