html, body {
    max-width: 100%;
    overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

/*-----------------------------------------------------
# Header
------------------------------------------------------*/
header{
	position: fixed;
	top: 0.5em;
	left: 50%;
	margin-left: clamp(-450px, -25%, -10em);
	width : clamp(20em, 50%, 900px);/*min, prefered, max*/
	border-radius: 8px;
	height: 3em;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3);
	outline: 0.05rem solid white;
	z-index: 1;
}



header img{
	height: 3em;
	width: auto;
	margin: auto;
	margin-right: 0;
	box-shadow: inset 0 0 10px 0 white;
}

.head_grid{
	display: flex;
	grid-template-columns: repeat(2,1fr);
	column-gap: 0;
	position: relative;
	width : 100%;
	margin-left: 10%;
}

header h1, header h3{
	text-align: left;
	font: small-caps 1.3em "Fira Sans", sans-serif;
	margin: 0.5em;
	clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
	z-index: 1;
}

header  h3{
	font: small-caps 1em "Fira Sans", sans-serif;
	margin: 0.8em;
}


a:link {
	text-decoration: none;
}

@media(max-width: 60em) {
	header{
		height: 4.5em;
		overflow: visible;
	}

	header h1, header h3{
		white-space: normal;
		overflow: visible;
	}

	.head_grid{
		margin-left: 4%;
	}
}

@media(max-width: 90em) {
	.head_grid{
		margin-left: 4%;
	}
}



/*-----------------------------------------------------
# Background
------------------------------------------------------*/
main{
	background: repeating-linear-gradient(
	0deg,
	#ffffff,
	#ffffff 19px,
	#f3f4f8 1px,
	#f3f4f8 20px
	);
	z-index:-2;
}

.notebook-line{


	border:none;
	border: top 10px dotted #e9ecf0;
	height:20px;
	width:100%;

}

body{
	margin : 0;
}




/*-----------------------------------------------------
# Title
------------------------------------------------------*/
.page-title{
	margin-top: 5em;
	margin-bottom: 2em;
}

h2{
	text-align: center;
	font: bold 4em "Fira Sans", sans-serif;
	margin: 1%;
}

.title-line{
	height: 0.1em;
	width : clamp(150px, 20%, 20%);
	position: relative;
	margin: 1% auto 1%;
	z-index: 0;
}



/*-----------------------------------------------------
# Content
------------------------------------------------------*/
.container{
	z-index:1;
}




img, video{
	width : clamp(300px, 40%, 500px);/*min, prefered, max*/
	display: block;
	margin: 3% auto 3%;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	/*border : solid white;
	border-width: 0 0 30px;*/
	border-radius: 3px;
}

img:hover:not(:focus),
video:hover:not(:focus){
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
	transition: box-shadow 100ms ease-in-out ;
}

img:focus, video:focus{
	box-shadow: 0 0 5em rgba(0,0,0,0.8);

	/*Marche pas T-T    width: clamp(400px, 85%, 2000px);*/
	position: fixed;
	max-height: clamp( 200px,95%,1200px);
	width : auto;
	max-width: 95%;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -56%);
	transition: width 100ms ease-in-out 100ms;
	z-index : 2;
}

.round{
	border-radius:50%;
}



.trio{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 0.5em;
	width : clamp(20em, 60%, 900px);/*min, prefered, max*/
	margin: 3% auto 3%;
}

.trio img:not(:focus){
	width: clamp(100px, 100%, 300px);
}

.duo{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 0.5em;
	height : auto;
	width : clamp(25em, 60%, 1700px);
	margin: 3% auto 3%;
	text-align: right;
}

.duo img:not(:focus){
	width: clamp(100px, 100%, 600px);
}

.project{
	background-attachment:scroll;
	width: 100%;
	padding: 1em;
	left: 0;
	margin: 3% auto 3%;
}

.sidescroll{
	overflow: auto;
	white-space: nowrap;
	/* display: inline-flex; */
	/* display: inline-block; */
}

.sidescroll img:not(:focus),
.sidescroll video:not(:focus){
	column-gap: 0.5em;
	display: inline-block;
	height: 20em;
	width : auto;
}

@media(max-width: 1000px) {
	.sidescroll img:not(:focus),
	.sidescroll video:not(:focus){
		height: 10em;
	}
}

/* .vertical-duo{
	width : clamp(300px, 40%, 500px);
	border: 2px solid red;
	display: grid;
	height: clamp(25em, 1vh, 1vh);
	width : auto;

	grid-column: 1;
	grid-row: 2;
}


.vertical-duo img:not(:focus),
.vertical-duo p{
	height: auto;
	width : 97%;
}	

.cont{
	column-gap: 0.5em;
	display: inline-block;
	height: clamp(25em, 0.5vh, 1vh);
	width : auto;
} */




footer{
	padding : 0.1vh;
	background-color: #eee;
	box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
}