

.grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 30px;
	width : clamp(300px, 60%,1200px);/*min, prefered, max*/
	margin: 3% auto 3%;
}

img, video{
	width : clamp(300px, 40%,1200px);/*min, prefered, max*/
	display: block;
	margin: 3% auto 3%;
}

img:focus, video:focus{
	width: clamp(400px, 85%, 2000px);
	height: 100hv;/*Marche pas T-T*/
	position: fixed;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
}