html,
body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	scrollbar-color: #e9e9e977 transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}



/*-----------------------------------------------------
# Background
------------------------------------------------------*/
/* 
.notebook-line{
	z-index:1;
	position: fixed;

	border-left: 3px solid #391d2e;
  	height: 100vh;
	margin-left : 10%;

	border:none;
	border: top 10px dotted #1f2937;
	height:20px;
	width:100%; 
}

.notebook-holes{
	z-index:1;
	border: 40px;
  	height: 100vh;
	width : 50px;
	position: fixed;

	background-image: radial-gradient(#1a2330 8px, transparent 0);
	background-size: 80px 80px;
} */

/*-----------------------------------------------------
# Content
------------------------------------------------------*/
.container-main {
	max-width: 1200px;
	margin: auto;
	margin-top: 0;
}

main img:hover:not(:focus),
main video:hover:not(:focus) {
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
	transition: box-shadow 100ms ease-in-out;
}

.round {
	border-radius: 50%;
}

spline-viewer {
	/* width: 80vw; */
	/* width: 70em; */
	height: auto;
	margin: 0 auto;
	/* display: inline-block; */
	position: relative;
}

/* .trio {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 0.5em;
	width: clamp(20em, 60%, 900px);
	margin: 3% auto 3%;
}

.trio img:not(:focus) {
	width: clamp(100px, 100%, 300px);
} */

.grid-item .image-item,
.grid-item video,
.grid-item .note-card {
	margin: 0 auto 0;
	border-radius: 3px;
}

.note-card{
	background-color: var(--bg-color-dark);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	text-align: left;
	color: var(--text-color);
	font-size: 1em !important;
}

.note-card-content {
	padding: 1em;
}

/* .item img{
    margin: 0em;
    position: relative;
} */

/* .numero {
	font: bold 12em "Poppins", sans-serif;
	font-size: clamp(3rem, -5rem + 20vw, 12rem);
	text-align: left;
	position: absolute;
	margin: 0;
	mix-blend-mode: overlay;
	line-height: 0.85em;
	color: #e6e6e794;
} */

/* .item .numero {
	position: absolute;
	transform: translate(-50vw, 0);
	right: clamp(150px, 20%, 250px);
	text-align: right;
} */
 
footer {
	padding: 0.1vh;
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: fit-content;
	margin: auto;
}

footer .bio-split {
	width: fit-content;
	margin: auto;
}

footer p {
	color : rgba(255, 255, 255, 0.5);
}

/* @media (max-width:600px) {
	footer .bio-split {
		display: inline-block;
		width: 95%;
	}
} */


/* video::-webkit-media-controls-panel {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
} */

.tag-list {
	position: relative;
	width: fit-content;
	display: inline-block;
	margin: 0 auto 32px auto;
	list-style: none;
	background-color: black;
	border-radius: 28.5px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.tag-item {
	display: inline-block;
	padding: 7px 14px;
	margin: 2px;
	background-color: transparent;
	border: 1px solid var(--col);
	color: var(--col);
	user-select: none;
	border-radius: 999px;
	font-size: 0.9em;
	cursor: pointer;
	font-weight: bold;
	transition: 200ms;
}

.tag-item:hover {
	box-shadow: 0 0 15px var(--col);
}

.tag-item.enabled {
	background-color: var(--col);
	color: black;
	/* box-shadow: 0 0 6px var(--col); */
}

.thumbnail-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.image-item figcaption{
	margin: 0 auto;
	position: relative;
	transform: translate(0, calc(-10px - 100%));
	overflow: visible;
	text-decoration: none !important;
	background-color: rgba(0, 0, 0, 0.709);
	width: fit-content !important;
	padding: 4px 6px;
	border-radius: 6px;
	font-weight: bold !important;
	color: rgb(227, 233, 255) !important;
}

@media screen and (max-width: 767px) {
	.tag-list {
		margin: 10px 10px 32px 10px;
	}

	.container-main {
		margin-top : 70px;
	}

	.container-main {
		margin-top : 340px;
	}
}


a.to-sp-portal .content{
	aspect-ratio: 1/1;
	background-image: linear-gradient(to top, rgb(255, 0, 123), rgb(255, 0, 64), rgb(255, 0, 64));
	padding: 5px;
	width: 120px;
	height: 120px;
	border-radius: 999px;
	font-weight: bold;
	margin: 10px auto;
	text-decoration: none !important;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


/* .to-sp-portal p{
	margin: 0 auto 0;
	font-size: 12px;
}

img.to-sp-decoration {
	width : 100px;
	height : auto;
}

/* Masonry grid: keep hidden until layout is ready to avoid FOUC (flash of unstyled content) */
.masonry-grid {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.35s ease, visibility 0.35s ease;
}
.masonry-grid.masonry-loaded {
	opacity: 1;
	visibility: visible;
}

a.to-sp-portal .content div{
	display: grid;
	width: 0;
	height: 0;
	padding: 18px;
}

a.to-sp-portal .content div p,
a.to-sp-portal .content div img{
	position: absolute;
	transform: translate(-50%, -50%);
}