#skills
    #perspec_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#perspec.skillbadge
            h3 Dessin technique
        p Exploration rapide des formes
        p Perspectives
    #surface_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#surface.skillbadge
            h3 Design de surfaces et de formes
        p Contr&ocirc;le de la courbure, du rythme et de la dynamique
        p Exploration structur&eacute;e des possibilit&eacute;s
    #modeling_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#modeling.skillbadge
            h3 Mod&eacute;lisation 3D de pr&eacute;cision
        p Maillage avanc&eacute;, CAO surfacique
        p Blender, Solidworks
    #fx_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#fx.skillbadge
            h3 Visualisation 3D avanc&eacute;e
        p Rendering photor&eacute;aliste
        p Shaders et mat&eacute;riaux
        p Lighting
        p Effets visuels
    #generative_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#generative.skillbadge
            h3 Mod&eacute;lisation g&eacute;n&eacute;rative
        p G&eacute;n&eacute;ration de mod&egrave;les 3D &agrave; partir de r&eacute;seaux de nodes
        p Sur Blender fa&ccedil;on Grasshopper
        p Permet pr&eacute;cision et flexibilit&eacute;
    #graphic_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#graphic.skillbadge
            h3 Arts graphiques
        p Graphisme
        p Illustration
        p Peinture digitale
    #animation_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#animation.skillbadge
            h3 Animation
        p Motion design
        p Animation traditionnelle
        p
            | Storyboarding
        p Character design