#skills
    
    #perspec_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#perspec.skillbadge
            h3 Dessin technique
        p Exploration des formes
        p Perspectives
    
    #surface_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#surface.skillbadge
            h3 Design de surfaces et de formes
        p Contrôle de la courbure et du rythme
        p Approche itérative
        
    #modeling_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#modeling.skillbadge
            h3 Modélisation 3D de précision
        p Maillage avancé, CAO surfacique
        p Blender, Solidworks
    
    #fx_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#fx.skillbadge
            h3 Visualisation 3D avancée
        p Rendering photoréaliste
        p Shaders et matériaux
        p Lighting
        p Effets visuels
    
    #generative_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#generative.skillbadge
            h3 Modélisation générative
        p Génération de modèles 3D à partir de réseaux de nodes
        p Sur Blender façon Grasshopper
        p Permet précision et flexibilité
    
    #graphic_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#graphic.skillbadge
            h3 Arts graphiques
        p Graphisme
        p Illustration
        p Peinture digitale
    
    #animation_descrip.skill-descrip
        .skill-title
            a.badge-backg
                i#animation.skillbadge
            h3 Animation
        p Motion design
        p Animation traditionnelle
        p
            | Storyboarding
        p Character design